flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
email_validator
python-dotenv
flask-apscheduler
requests
openpyxl
pandas
xlsxwriter
Pillow
flask-limiter
redis
flask-cors
flask-jwt-extended
pytest
pytest-cov
coverage